<header>
  <div id="header">
    <div class="headInner">
      <h1 class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="APT Job Logo" /></a>
      </h1>
      <div class="search" id="searchWrap">
        <span class="search-icon">
          <img src="/assets/img/search_icon.png" width="20" />
        </span>
        <input type="text" placeholder="관리소명, 직무, 채용제목으로 공고를 검색해주세요." />
      </div>
      <div class="etesys">
        <a href="https://www.etesys.co.kr/" target="_blank" title="새창 열림" class="bann-logo bann-etesys">이테시스</a>
      </div>
    </div>
    <div id="headNavBar">
      <div class="aptNavArea">
        <ul class="serviceNav">
          <li><a href="recruit_search.html" class="navItem">지역/직무 검색</a></li>
          <li><a href="companySearch.html" class="navItem">위탁사 검색</a></li>
          <li><a href="/subpage/corp_info.html" class="navItem">단지정보</a></li>
                <!-- ▼ 고객센터 드롭다운 -->
                <li class="navItem dropdown">
                    <a href="/subpage/notice.html" class="navItem">고객센터 ▾</a>
                    <ul class="dropdown-menu">
                    <li><a href="/subpage/notice.html">공지사항</a></li>
                    <li><a href="/subpage/faq.html">FAQ</a></li>
                    <li><a href="/subpage/contact_list.html">문의하기</a></li>
                    </ul>
                </li>
                <!-- ▲ 드롭다운 끝 -->
                </ul>
            </div>
            <!-- my 홈일경우 클래스 myPage -->
            <div id="devMyPage" class="userNav">
                <ul class="userNav">
                    <li><a href="./login.html" class="userNav-item login">로그인</a></li>
                    <li><a href="#" class="userNav-item logout" style="display:none;">로그아웃</a></li>
                    <li><a href="#" class="userNav-item mypage">마이페이지</a></li>
                    <li><a href="#" class="userNav-item corp">관리소서비스</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
