/* ===========================
   기본
=========================== */
body {
  margin: 0;
  background: #fff;
  font-family: "Malgun Gothic", sans-serif;
  color: #222;
}

/* ===========================
   팝업 전체
=========================== */
.notice-popup {
  width: 900px;
  background: #fff;
  padding: 1% 24px 30px;
  box-sizing: border-box;
}

/* ===========================
   타이틀
=========================== */
.popup-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 2px solid #2f61d5;
  padding-bottom: 10px;
}

/* ===========================
   정보 영역
=========================== */
.notice-info {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
}
.info-row {
  display: flex;
  padding: 12px 0;
  border-top: 1px solid #eee;
}
.info-row:first-child {
  border-top: none;
}
.info-label {
  width: 120px;
  font-weight: 600;
}
.info-value {
  flex: 1;
}

/* ===========================
   본문
=========================== */
.notice-content {
  margin-top: 20px;
}

/* 텍스트/이미지 박스 */
.content-box {
  min-height: 120px;
  height: auto;
  display: flex;
  align-items:start;
  justify-content:left;
  font-size: 16px;
}

/* ===========================
   첨부파일
=========================== */
.file-download {
  margin-top: 15px;
  font-size: 15px;
  background-color: #eef4ff;
  padding: 12px 7px;
}
.file-download a {
  color: #2f61d5;
  text-decoration: underline;
}

/* ===========================
   하단 버튼
=========================== */
.popup-footer {
  text-align: center;
  margin-top: 30px;
}
.btn-close {
  background: #3c4b61;
  color: #fff;
  border: none;
  padding: 10px 26px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.btn-close:hover {
  background: #2f3a4d;
}
